.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 120px;
    max-width: 512px;
    max-height: 512px;
    top: auto;

    background-color: black;
    color: #fff;
    text-align: center;
    padding: 2px 0;
    border-radius: 3px;

    /* Position the tooltip text - see examples below! */
    position: fixed;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* hope this doesn't break something, lets tooltips show uncut */
.tooltip:hover .window-app .window-content{
    overflow-y: visible; !important;
    overflow-x: visible; !important;
}

